__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.pybuild/
.coverage
htmlcov/
build/
dist/
*.deb
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/sambactl/
debian/*.substvars
debian/*.log
debian/*.debhelper
